<div class="space-y-4">
    <h2 class="text-xl font-bold text-white flex items-center">
        Database Inspector
        <span class="help-icon" data-title="Database Inspector Help" data-text="This page simply allows you to download the database file associated to your league. This file will contain 100% of the data that this website uses from Yahoo, no further Yahoo API pulls are made after authentication outside of DB creation. If selected, will contain some historical data limited to this fantasy season as future functions will allow insight into past weeks, such a bench points, or add/drop points.">?</span>
    </h2>
    <p class="text-gray-400">Download the database for your league</p>
    <a href="/api/download_db" id="download-db-button" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
        Download Database
    </a>
    <div id="db-content" class="space-y-4"></div>
</div>

<script src="{{ url_for('static', filename='db.js') }}"></script>
