<h1 class="text-3xl font-bold mb-6 text-white">Optimal Lineups</h1>

<div id="db-error-message" class="hidden bg-red-900 border border-red-700 text-red-200 px-4 py-3 rounded-lg" role="alert">
    <p class="font-bold">Database Not Found!</p>
    <p class="text-sm">Please go to the "League Database" page and initialize your league's data before using this feature.</p>
</div>

<div id="lineup-controls" class="hidden">
    <div class="grid grid-cols-1 gap-4 mb-6">
        <div id="roster-table-container">
        </div>
        <div id="optimal-lineup-container">
        </div>
        <div id="unused-roster-spots-container" class="mt-6"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='lineups.js') }}"></script>
