<h2 class="text-xl font-bold text-white flex items-center">Optimal Lineups</h2>
<span class="help-icon" data-title="Your Page Title Help" data-text="Your specific help text for this page goes here.">?</span>
<div id="db-error-message" class="hidden bg-red-900 border border-red-700 text-red-200 px-4 py-3 rounded-lg" role="alert">
    <p class="font-bold">Database Not Found!</p>
    <p class="text-sm">Please go to the "League Database" page and initialize your league's data before using this feature.</p>
</div>

<div id="lineup-controls" class="hidden">
    <div class="grid grid-cols-4 gap-4 mb-6">
        <div id="roster-table-container" class="col-span-4">
        </div>
        <div id="optimal-lineup-container" class="col-span-3">
        </div>
        <div id="unused-roster-spots-container">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='lineups.js') }}"></script>
